<h1 class='title'>Users</h1>

<table>
  <thead>
    <tr>
      <th class='label'>Name</th>
      <th class='label'># articles</th>
    </tr>
  </thead>

  <tbody>
    <%= users_articles %>
  </tbody>
</table>
