/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
  max-width: 1310px;
  position: relative;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

q::after,
q::before,
blockquote::after,
blockquote::before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --brown: #4e443e;
  --gray: #847f7b;
  --light-orange: #fa982e;
  --orange: #fa6000;
  --red: #e8072f;
  --yellow: #fefe00;
}

.title {
  color: var(--gray);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0 0.8rem;
}

.error_title {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 0 0.3rem;
}

.error_number {
  color: red;
}

.errors_list {
  list-style-type: disc;
  margin: 0.5rem;
}

.error_list_item {
  color: var(--gray);
  font-size: 1rem;
  margin: 0.3rem;
}

/* nav-bar */
.nav_bar {
  align-items: center;
  background-color: #fff;
  border-bottom: 0.3rem solid var(--gray);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  height: 2rem;
  margin: 1rem 1rem;
}

.nav_link {
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0.3rem;
}

.nav_link:hover {
  color: var(--light-orange);
  text-decoration: underline var(--red) 0.1rem;
}

.user {
  cursor: pointer;
  position: relative;
}

.user_img {
  height: 2.5rem;
  margin: 1rem;
}

.list {
  background-color: #fff;
  border: 0.2rem solid var(--gray);
  display: none;
  position: absolute;
  right: 0;
}

.li {
  border-bottom: 0.1rem solid var(--gray);
  font-size: 0.9rem;
  padding: 0.5rem;
  text-align: center;
  width: 8rem;
}

.li:hover {
  background-color: rgb(195, 195, 189);
}

.list_link {
  color: var(--gray);
  text-decoration: none;
}

.active {
  color: var(--orange);
}

/* featured */

.featured {
  background-image: url('../img/politics2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 26vw;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.featured_title {
  bottom: 4.5rem;
  color: var(--orange);
  font-weight: 900;
  left: 2rem;
  position: absolute;
}

.featured_text {
  bottom: 1.2rem;
  color: #fff;
  font-weight: 900;
  left: 2rem;
  line-height: 1.5rem;
  position: absolute;
  width: 95%;
}

/* recent */

.recent_section {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.recent_article {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vw;
  position: relative;
  width: 25%;
}

.recent_category {
  border-bottom: 0.2rem solid var(--yellow);
  color: #fff;
  font-weight: 900;
  left: 1.2rem;
  padding: 0.2rem;
  position: absolute;
  top: 1rem;
}

.recent_title {
  bottom: 1.5rem;
  color: #fff;
  font-weight: 900;
  left: 1.2rem;
  position: absolute;
}

#recent_article1 {
  background-image: url('../img/bussiness1.jpg');
}

#recent_article2 {
  background-image: url('../img/sports1.jpg');
}

#recent_article3 {
  background-image: url('../img/fashion1.jpg');
}

#recent_article4 {
  background-image: url('../img/entertainment1.jpg');
}

/* categories */

/* dashboard */

table {
  border-bottom: 0.1rem solid var(--gray);
  border-collapse: collapse;
  margin: 0.5rem auto;
}

th, td {
  border-bottom: 0.1rem solid var(--gray);
  border-collapse: collapse;
  color: var(--gray);
  height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  width: 15rem;
}

.th_button, .td_button {
  width: 7rem;
}

/* new article */

.form_container {
  margin: 0 auto;
  width: 25rem;
}

.label {
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

input[type = text], input[type=url], input[type=password]{
  display: block;
  margin: 0.5rem 0 1rem;
  width: 95%
}

textarea, select {
  display: block;
  margin: 0.5rem 0 1rem;
  width: 100%
}

.button {
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.guardar {
  background-color: var(--light-orange);
}

.guardar:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.cancelar {
  background-color: #a8a8a8;
}

.cancelar:hover {
  background-color: var(--gray);
}

/* footer */

.footer {
  align-items: center;
  background-color: var(--brown);
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.credits {
  display: flex;
}

.credits_link {
  color: var(--orange);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 0.3rem;
  text-decoration: none;
}

.credits_link:hover {
  color: var(--light-orange);
}

.credits_text {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 0.3rem;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.contact {
  align-items: center;
  display: flex;
}

.text {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 0.3rem;
}

.contact_icons {
  background-color: var(--orange);
  border-radius: 50%;
  color: var(--brown);
  height: 1rem;
  margin: 0 0.3rem;
  padding: 0.3rem;
  text-align: center;
  width: 1rem;
}

.contact_icons:hover {
  background-color: var(--light-orange);
}
